.jb-top-app-bar {
  display: flex;
  align-items: center;
  height: 64px;
  padding-left: 32px;
  padding-right: 32px;
  background-color: var(--primary-color);
  color: var(--primary-text-color-on-primary);
}

.jb-btn {
  padding: 8px 12px;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  text-transform: uppercase;
  background-color: var(--surface-color);
  transition: .2s all;
}
.jb-btn:hover {
  background-color: var(--surface-shadow-color);
}

.jb-btn--raised {
  background-color: var(--primary-color);
}

.jb-btn--outline {
  border: 2px solid var(--primary-color);
}

.jb-btn--error {
  background-color: var(--error-color);
  border-color: var(--error-color);
  color: var(--primary-text-color-on-error);
}
.jb-btn--error:hover {
  background-color: var(--error-color);
}

.jb-btn--rounded {
  border-radius: 16px;
}

.jb-btn--icon {
  padding: 4px 6px;
  background: transparent;
  border-radius: 50%;
  transition: .2s all;
}
.jb-btn--icon:hover {
  background-color: var(--surface-shadow-color);
}
