:root {
  --bg-color: #FFFFFF;
  --hero-color: #FF5722;
  --primary-color: #2196F3;
  --accent-color: #FF9800;
  --error-color: #F44336;
  --success-color: #4CAF50;

  --surface-color: #FFFFFF;
  --surface-shadow-color: #EEEEEE;

  --primary-text-color: #000000;
  --secondary-text-color: #757575;
  --primary-text-color-on-primary: #FFFFFF;
  --primary-text-color-on-error: #FFFFFF;
}

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  background-color: var(--bg-color);
  color: var(--primary-text-color-on-bg);
  font-size: 14px;
}

p {
  margin: 0;
}

a {
  text-decoration: none;
}

button:focus {
  outline: none;
}

.material-icons {
  color: var(--secondary-text-color);
}
